Package: com.ipadkid.hid3x
Name: Hid3x
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hide the H3lix icon (requires Substrate to be active, so it will only be hidden while jailbroken)
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
